body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  background-color: darksalmon;
  margin-bottom: 1rem;
}

.card-image-wrapper {
  margin: 0;
}

.card-image-wrapper img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.card-content {
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.card-content h6 {
  font-size: 1.1rem;
  margin: 5px 0;
}

.card-content p {
  font-size: .7rem;
}

.card-content a {
  padding: .5rem 1rem;
  color: springgreen;
  background-color: deeppink;
  display: inline-block;
  margin-top: .6rem;
  text-decoration: none;
}

@media (min-width: 480px){
 .cards-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 } 

 .card {
   flex: 0 1 calc(50% - .5rem);
 }

 .card, .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

 .card-content {
  height: 100%;
 }

 .card-content a {
   align-self: center;
 }
}

@media (min-width:768px){
  .card {
    flex: 0 0 calc(33% - .5rem)
  }
}